/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;

  --primary-text-color: #181820;
  --secondary-text-color: #5c5c62;
  --durability-text-color: #6a737d9c;
  --icon-color: #6a737d;
  --border-color: #ff9a0045;
  --text-decoration-color: #ff9a00;
  --general-transition: 250ms linear;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 900px;
}

.fh {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fv {
  display: flex;
  flex-direction: column;
}

.resume {
  margin: 50px auto;
  padding: 30px 0;
  max-width: 900px;

  border: 1px solid #f5f5f5;
  box-shadow: 1px 1px 7px 7px #f5f5f5;
}

.resume__block {
  margin-bottom: 15px;
  padding-bottom: 30px;

  border-bottom: 3px solid var(--border-color);
}

.main-info {
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .main-info,
  .contact_info_container {
    flex-direction: column;
  }

  .contact_info_container {
    align-items: center;
  }

  .contact-info__block:not(:last-child) {
    margin-bottom: 20px;
  }

  .experiences {
    margin-right: 0;
  }
}
/* General styles */

/* Contact info styles */
.contact-info__header,
.contact-info__sub-header {
  text-align: center;
}

.contact-info__header {
  margin-bottom: 15px;

  color: var(--primary-text-color);
  text-decoration-color: var(--text-decoration-color);
  text-decoration-line: underline;
}

.contact-info__sub-header {
  margin-bottom: 30px;
  color: var(--secondary-text-color);
}

.contact-info__block--center {
  justify-content: center;
}

.contact-info__item {
  display: flex;
  justify-content: start;

  color: var(--secondary-text-color);
  text-decoration: none;

  transition: color var(--general-transition);
}

.contact-info__item:hover,
.contact-info__item:focus {
  color: var(--text-decoration-color);
}

.contact-info__item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-info__item-icon-wrapper {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  width: 20px;
}

/* .contact-info__item-icon use, */
.contact-info__item:hover .contact-info__item-icon use,
.contact-info__item:focus .contact-info__item-icon use {
  fill: var(--text-decoration-color);
}

.contact-info__item-icon use {
  fill: var(--icon-color);
  transition: fill var(--general-transition);
}

.contact-info__item-icon {
  height: 1.1428rem;
  vertical-align: text-bottom;
}

.contact-info__avatar {
  width: 100px;
  height: 100px;

  border-radius: 50%;
  object-fit: cover;
  border: 3px solid;
  border-color: var(--text-decoration-color);
}
/* Contact info styles */

/* Intro and skills styles */
.intro {
  display: flex;
  justify-content: start;
}

.intro__icon-wrapper {
  display: flex;
  justify-content: center;
  margin-right: 30px;
  width: 30px;
}

.intro__icon {
  height: 1.1428rem;
  vertical-align: text-bottom;
}

.intro__icon use {
  fill: var(--text-decoration-color);
}

.intro_text {
  text-align: justify;
  color: var(--secondary-text-color);
}

.skills__header {
  margin-bottom: 15px;
  text-align: center;
  color: var(--primary-text-color);
}

.skills__text {
  text-align: justify;
  color: var(--secondary-text-color);
}
/* Intro and skills styles */

/* Experience and additional info styles */
.experiences {
  flex: 1 1 60%;
  margin-right: 50px;
}

.experiences__header {
  margin-bottom: 10px;
  text-align: left;
  color: var(--primary-text-color);
}

.project-experience-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-experience-list-item a {
  text-decoration: none;
  color: var(--secondary-text-color);

  transition: color var(--general-transition);
}

.project-experience-list-item a:hover,
.project-experience-list-item a:hover {
  color: var(--text-decoration-color);
}

.project-technologies {
  color: var(--secondary-text-color);
}

.project-description,
.project-role {
  color: var(--secondary-text-color);
}

.additional-info__education {
  margin-bottom: 20px;
}

.additional-info__education-header {
  margin-bottom: 10px;
  text-align: left;
  color: var(--primary-text-color);
}

.additional-info__education-university {
  margin-bottom: 10px;
}

.additional-info__education-university-durability {
  margin-bottom: 10px;

  font-size: 15px;
  text-align: left;
  color: var(--durability-text-color);
}

.additional-info__education-university-speciality {
  text-align: left;
  color: var(--secondary-text-color);
}

.additional-info__education-university-name {
  color: var(--secondary-text-color);
}

.additional-info__languages-header {
  margin-bottom: 10px;
  text-align: left;
  color: var(--primary-text-color);
}

.additional-info__languages-item {
  color: var(--secondary-text-color);
}
/* Experience and additional info styles */
